Title:<%=@exam.title %>

<%= image_tag @exam.image.url(:large) %>

<%= simple_format h(@exam.description) %>

<p>
  <strong>Date:</strong>
  <%= simple_format h(@exam.exam_date) %>
</p>
<p>
  <strong>Category:</strong>
  <%= simple_format h(@exam.section) %>
</p>

<p>
  <%= link_to "Edit", edit_exam_path(@exam) %> |
  <%= link_to "Destroy", @exam, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", exams_path %>
</p>
